<div class="container-fluid">
  <div class="row">
    <div class="col-12" align="end">
      <p>
        <ng-container *ngFor="let feed of allFeeds">
          <button mat-raised-button (click)="navigateTo('/user/my-feeds/'+feed.$id, feed)" [ngClass]="{'active': currentFeed == feed.$id}">{{ feed.title }}</button> &nbsp;
        </ng-container>
      </p>
      
    </div>
  </div>

  <!-- infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="150"
    (scrolled)="onScroll()"
    [alwaysCallback]=true -->

  <ng-container *ngIf="loading == false; else loadingTemp">
    <div class="row">
      <div class="feed-card col-md-3 col-sm-6" *ngFor="let feed of feeds">
        <app-feed-card [item]="feed"></app-feed-card>
      </div>
    </div>

    <p class="text-center" *ngIf="total > (page + 1) * limit">
      <button mat-raised-button (click)="pagination(page + 1)" class="btn">
        {{ loadMoreText }}
      </button>
      <br /><br /><br /><br />
    </p>
  </ng-container>

  <ng-template #loadingTemp> Loading... </ng-template>
</div>
