.card-content img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 150px;
}
.mat-mdc-card-title{
    height: 63px;
    overflow: hidden;
}
.card-content{
    height: 233px;
    overflow: hidden;
}
.feed-description{
    height: 150px;
    overflow: hidden;
}