.card-content img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 150px;
}
.mat-mdc-card-title{
    height: 43px;
    overflow: hidden;
    text-align: justify;
}
.card-content{
    height: 233px;
    overflow: hidden;
}
.feed-description{
    height: 225px;
    overflow: hidden;
    text-align: justify;
}
.mat-mdc-standard-chip{
    cursor: pointer!important;
}
.card-footer{
    padding: 0 0 5px 0;
}
.date{
    padding: 0 0 5px 0;
    font-style: italic;
}