.card-content img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 150px;
}
.mat-mdc-card-title{
    height: 50px;
    overflow: hidden;
    font-size: 20px;
}
.card-content{
    height: 235px;
    overflow: hidden;
}
.feed-description{
    height: 225px;
    overflow: hidden;
}
.mat-mdc-standard-chip{
    cursor: pointer!important;
}
.card-footer{
    padding: 0 0 5px 0;
}
.date{
    padding: 0 0 5px 0;
    font-style: italic;
}
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}