<div class="container-fluid infinite-scroll" 
infinite-scroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="300"
(scrolled)="pagination()"
[scrollWindow]="false"
>
  <div class="row">
    <div class="col-12" align="end">
      <!-- {{ tags | json }} -->
      <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select
          [formControl]="tagsForm"
          multiple
          (selectionChange)="filterTags()"
        >
          <mat-option *ngFor="let tag of tags" [value]="tag.title">{{
            tag.title | titlecase
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- i -->

  <div class="row" 

  >
    <div class="feed-card col-md-3 col-sm-6" *ngFor="let feed of feeds">
      <home-feed-card [item]="feed"></home-feed-card>
    </div>
  </div>
  <p class="text-center" *ngIf="total > (page + 1) * limit">
    <button mat-raised-button (click)="pagination()" class="btn">
      {{ loadMoreText }}
    </button>
    <br /><br /><br /><br />
  </p>
  <ng-container *ngIf="loading">Loading</ng-container>
</div>
