@import url('/node_modules/bootstrap/dist/css/bootstrap-grid.min.css');
body {
  font-family: "Roboto", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane{
  background-color: #fff;
}

a{
 text-decoration: none; 
}
.text-center{
  text-align: center;
}

.container-fluid{
  width: 98%;
  margin: 0 auto;
}
.container{
  width: 90%;
  margin: 0 auto;
}

.dark a {
  color: #fff;
}
a{
  color: #000; cursor: pointer;
}

.cp{
  cursor: pointer;
}