@import url('/node_modules/bootstrap/dist/css/bootstrap-grid.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; }

.cdk-overlay-pane{
  background-color: #fff;
}

a{
 text-decoration: none; 
}
.text-center{
  text-align: center;
}

.container-fluid{
  width: 98%;
  margin: 0 auto;
}
.container{
  width: 90%;
  margin: 0 auto;
}

.dark a {
  color: #fff;
}
a{
  color: #000; cursor: pointer;
}

.cp{
  cursor: pointer;
}